<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Astounding XML Formatter</title>
		
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/cupertino/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	
	<body>
		<div class="container well">					
			<div class="row-fluid fill">
				<h2>Astounding XML formatter</h2>
				
				<p>
					Formats an XML string into a readable format. 
				</p>		
			
				<p>
					Most online tools seem to use an XML parser to format XML strings, this means they only accept well formed XML. 
					This tool does not use an XML parser so it will accept any kind of string and attempt to format as XML. 
				</p>
				
				<div class="well">					
					<p>
						Paste the XML you want formatted into the text box. 
					</p>		
					
					<div id="format-alert" class="alert hide">
						<span> </span>
					</div>
					
					<textarea class="row-fluid" id="xml-textarea" wrap="off" spellcheck="false"> </textarea>
										
					 <div class="control-group">					 	
					 	<div class="controls form-inline">
							<button id="format-xml" class="btn btn-primary">FORMAT XML</button>								
						
							<!-- <button id="copy-to-clipboard" class="btn btn-primary">COPY TO CLIPBOARD</button> -->								
							
							<label for="fixup-xml">Fixup XML?  <input id="fixup-xml" type="checkbox"/></label>
												 	
					 	</div>					 																
					</div>
										
				</div>
				
				<p>
					&copy; Best Effort XML Formatter 2013
				</p>
			</div>																									
		</div>
		
		<script type="text/javascript" src="http://www.google-analytics.com/ga.js" class="disconnect-collapsed"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
		
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>				
		<script type="text/javascript" src="/js/jquery.zclip.min.js"></script>				
		
		<script type="text/javascript" src="/js/main.js"></script>		
				
	</body>	
</html>