body 
{
	background-color: white;
	margin: 8px;
}

.container
{
	background-color: white;
		
}

#xml-textarea
{
	height: 400px;
	overflow: scroll;
}

#fixup-xml
{
	vertical-align: text-bottom;
}

.z-clip-wrap { position: relative; display: inline-block; } 